
# Twitter oauth details (http://dev.twitter.com/apps)
username=''
consumer_key=''
consumer_secret=''
access_key=''
access_secret=''

# Debugging mode
# If this option is True then extra debugging info will be printed
debug = False

# Flat text files containing various
ignore_list='ignore.txt'   # List of twitter screen names to ignore
filtered_word_list='filter.txt'    # Ignore tweets if they contain these words

last_id_file='lastid.txt'  # Last ID the bot "saw"

